<div class="center jumbotron topimage">
  <h1>Collab RE:Quest</h1>
  <h2>
    歌や楽器演奏をyoutubeなどの動画投稿サイトに投稿したい時、
    <br>もしも他のパートが出来たら・・・と思ったことはありませんか？
    <br>このサイトはそんな時にコラボする相手を探すためのサイトです！
  </h2>
  <%= link_to "新規アカウント作成", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
</div>
