<% provide(:title, "Help") %>
<div class="row">
  <div class="col-sm-12 pagename">
    <h3 class="pagetitle">このサイトについて</h3>
  </div>
  <h2>
    歌や楽器演奏をyoutubeなどの動画投稿サイトに投稿したい時、
    <br>もしも他のパートが出来たら・・・と思ったことはありませんか？
    <br>このサイトはそんな時にコラボする相手を探すためのサイトです！
  </h2>
  <div class="row">
    <div class="col-sm-12 pagename">
      <h3 class="pagetitle">各ページ説明</h3>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
        <h3 class="cattitle">トップ（マイページ）</h3>
          <span>　あなたの投稿へのコメントやフォローしているユーザーの投稿を見ることができます。</span>
        <h3 class="cattitle">投稿する</h3>
          <span>　他の人がコラボに使用する素材を投稿することができます。</span>
        <h3 class="cattitle">素材</h3>
          <span>　他の人が投稿した素材を見ることができます。</span>
        <h3 class="cattitle">コラボ</h3>
          <span>　他の人が投稿したコラボ投稿を見ることができます。</span>
        <h3 class="cattitle">コラボリスト</h3>
          <span>　コラボリストを作成し、他の人の投稿した素材をリストに追加できます。</span>
          <br><span>　また、コラボリストからはコラボ投稿を行うことができます。</span>
        <h3 class="cattitle">メッセージ</h3>
          <span>　他の人から送られてきたメッセージを確認することができます。</span>
        <h3 class="cattitle">ユーザー</h3>
          <span>　ユーザーを検索することができます。</span>
    </div>
    </div>
  </div>
</div>
