<div class="row">
<div class="cd-md-4"></div>
<div class="cd-md-8">
  <% @messages.each do |b| %>
    <div class="row">
      <div class="card well" style="max-width: 50rem;">
        <% from_user = User.find(b.from_id) %>
        <div class="card-header">
          送信元：
          <%= link_to "#{from_user.name} @ #{from_user.unique_name}", user_path(from_user) %>
        </div>
        <div class="card-body">
          <br>コメント：<%= b.content %>
          <br><%= b.created_at %>
        </div>
      </div>
    </div>
  <% end %>
</div>
