<h1>Collab RE:Quest</h1>
<p><%= @user.name %>さん</p>
<p>
  アカウントの登録をしていただきありがとうございます。
  <br>下記リンクからアカウントの有効化をお願いします。
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                  email: @user.email) %>
