<h1>パスワードリセット</h1>

<p>パスワードを変更する場合は下記リンクより変更をお願いします。:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                    email: @user.email) %>

<p>※本メールが届いてから２時間経過している場合は、再度パスワード変更の申請をお願いします。</p>
