<aside class="col-md-6">
  <div class="row">
    <div class="col-md-12">
      <h3 class="pagetitle">全投稿ランキング</h3>
      <% if @all_ranks.any? %>
        <ol class="microposts">
        <%= render 'microposts/micropost_ranking' %>
        </ol>
      <% end %>

      <% if @my_ranks.any? %>
        <div class="col-md-12">
          <h3 class="pagetitle">あなたの投稿ランキング</h3>
        </div>
        <div class="row">

        </div>
        <ol class="microposts">
          <%= render 'microposts/micropost_ranking' %>
        </ol>
      <% end %>
    </div>
  </div>
</aside>
