<% provide(:title, 'コラボリスト編集') %>
<% provide(:url, favlist_path) %>
<% provide(:button_text, 'コラボリストを編集する') %>
<div class="row">
  <div class="col-md-12 pagename">
    <h3 class="pagetitle">コラボリスト編集</h3>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <section class="favlist_form">
      <%= render 'favlists/favlist_form' %>
    </section>
  </div>
</div>
