<% provide(:title, 'コラボリスト作成') %>
<% provide(:url, favlists_path) %>
<% provide(:button_text, 'コラボリストを作成する') %>
<div class="row">
  <div class="col-md-12 pagename">
    <h3 class="pagetitle">コラボリスト作成</h3>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <section class="favlist_form">
      <%= render 'favlists/favlist_form' %>
    </section>
  </div>
</div>
