<% provide(:title, 'New favlist') %>
<% provide(:url, new_favlist_path) %>
<% provide(:button_text, 'お気に入りリストを作成する') %>
<div class="row">
  <h1>お気に入りリスト作成</h1>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <section class="favlist_form">
      <%= render 'favlists/favlist_form' %>
    </section>
  </div>
</div>
