<div class="row col-md-4"><%= @favlist.title %></div>
<div class="row">
  <span class="content">
    <%= @favlist.memo %>
    <% @favorites.each do |f| %>
    <%= @micropost.find(f.micropost_id).title %>
    <% end %>
  </span>
</div>
<%= link_to "お気に入り一覧に戻る", favlists_path %>
