<% if @micropost.collablist.nil? %>
<% else %>
<li class="list-group-item">
    <div class="collabitems">
      <span>
        コラボリスト：
        <% @micropost.collablist.split(' ').each do |f| %>
        <div class="collabitems">
            <%= link_to "#{Micropost.find(f).title}", micropost_path(f), class: "btn btn-success" %>
        </div>
        <% end %>
      </span>
    </div>
</li>
<% end %>
