<div class="microposts">
  <ul class="list-group list-group-flush">
    <%= render 'microposts/posts' %>
    <%= render 'microposts/like_edit_delete' %>
    <%= render 'microposts/collab_items' %>
  </ul>
  <%= render 'shared/likes' %>
</div>
