<div class="row">
  <div class="col-md-12 pagename">
    <h3 class="pagetitle"><%= "全ての投稿" %></h3>
  </div>
    <aside class="col-md-6">
    <%= render 'shared/all_ranks' %>
    </aside>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-md-12">
        <h3 class="pagetitle">投稿検索</h3>
      </div>
      <div class="search_form">
        <%= render 'shared/microposts_search_form' %>
      </div>
    </div>
    <%= render 'shared/feed' %>
  </div>
</div>
