<div class="row">
  <div class="col-md-12 pagename">
    <h3 class="pagetitle"><%= "全ての投稿" %></h3>
  </div>
  <aside class="col-md-4">
    <section class="micropost_form">
      <%= link_to "Create post", new_micropost_path, class: "btn btn-lg btn-primary" %>
    </section>
  </aside>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-4">
        <h3>Micropost Feed</h3>
      </div>
      <div class="search_form">
        <%= render 'shared/microposts_search_form' %>
      </div>
    </div>
    <%= render 'shared/feed' %>
  </div>
</div>
